.header-nav a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

.header-nav a:hover {
  color: orange;
  transform: scale(1.2);
}

.cards-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 130px;
  row-gap: 50px;
  justify-content: center;
}
